# Capstone Project - The Battle of the Neighborhoods (Week 1) 
# Finding the best place to Build Hotel in West Java and East Java (Indonesia)
### Applied Data Science Capstone by IBM/Coursera

## Table of contents
* [Introduction](#introduction)
* [Data](#data)
* [Methodology](#methodology)
* [Analysis](#analysis)
* [Results and Discussion](#results)
* [Conclusion](#conclusion)



## Introduction <a name="introduction"></a>

**Business Problem**

In this project we will try to find the optimal location for **a hotel with lodging facilities only without a restaurant**. Specifically, this report will be addressed to stakeholders who are interested opening **Hotel in West Java Province Hotel and East Java Province, Indonesia.**

Because there are many hotels in West Java Province and East Java province, we will try to provide a busy location with **restaurants, sports bars, basketball courts, food and drink shops and entertainment areas**. We are also very interested because hotel visitors will more freely choose the food menu around the hotel. We also prefer a location that is as close as possible to the city center, assuming that the first conditions are met.

We will use the power of our data science to generate some of the environments that best fit this criterion. The advantages of each region will then manifest the business clearly so that the best outcome can be chosen by the stakeholders.

**Purpose of this Project**

The dataset combines city coordinates in West Java and East Java. The datasets does not include the venues within these locations. With venue information, it would be easy to find out more information about the neighborhoods. For example, how many sports bars and restaurants there are, and any basketball courts or playgrounds? We could also need to find out about any banks and food and drink shops? It would be better to understand or make good choices about where the hotel will be built

Next, the reason for this project is to, algorithmically, way to use location coordinates and mark each data point into the environment in two Provinces namely West Java and East Java in Indonesia. The algorithm used is k-means clustering. The main idea is to determine neighborhood with venues clustered around each other so that one can make a decision on the right neighborhood to chose based on the proximity of amenities and venues to each other.

**K-means Clustering**

The k-means clustering algorithm is an unsupervised clustering technique searches for a pre-determined number of clusters within an unlabeled multidimensional dataset. It accomplishes this using a simple conception of what the optimal clustering looks like:
1. The "cluster center" is the arithmetic mean of all the points belonging to the cluster.
2. Each point is closer to its own cluster center than to other cluster centers in the dataset.

The two assumptions above are presumably the basis of the k-means model.

## Data <a name="data"></a>

Based on definition of our problem, factors that will influence our decission are:
* number of **existing restaurants, sports bars, basketball courts, food and drink shops and entertainment areas in the neighborhood**
* number of and distance to restaurants, sports bars, basketball courts, food and drink shops and entertainment areas in the neighborhood, if any
* distance of neighborhood from city center

We decided to use regularly spaced grid of locations, centered around city center, to define our neighborhoods.

Following data sources will be needed to extract/generate the required information:
* The dataset for this project consists of information regarding the cities Indonesia obtained from https://simplemaps.com/data/world-cities. Specifically, the data contain: **City, city_ascii, lat, lng , country, iso2, iso3, admin_name, capital, population and id**.
* I used business intelligence tools for **geocoding** the data to obtain the correct coordinates
* The data was then exported and converted into a .json, read into a pandas dataframe and sliced into West Java and East Java Province data for use in the

In [1]:
import pandas as pd # library for data analsysis
print('Libraries imported.')

Libraries imported.

In [2]:
cities_data = 'worldcities.csv'
df = pd.read_csv(cities_data)
print('The dataframe has', df.shape, 'rows and columns respectively.')
df.head()

The dataframe has (26569, 11) rows and columns respectively.

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6897,139.6922,Japan,JP,JPN,Tōkyō,primary,37977000.0,1392685764
1,Jakarta,Jakarta,-6.2146,106.8451,Indonesia,ID,IDN,Jakarta,primary,34540000.0,1360771077
2,Delhi,Delhi,28.6600,77.2300,India,IN,IND,Delhi,admin,29617000.0,1356872604
3,Mumbai,Mumbai,18.9667,72.8333,India,IN,IND,Mahārāshtra,admin,23355000.0,1356226629
4,Manila,Manila,14.5958,120.9772,Philippines,PH,PHL,Manila,primary,23088000.0,1608618140

In [ ]:
df.to_json("cities_data.json")

In [3]:
cities_data = "cities_data.json"
df = pd.read_json(cities_data, orient='columns')
print('The dataframe has', df.shape, 'rows and columns respectively.')
df.head()

The dataframe has (26569, 11) rows and columns respectively.

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6897,139.6922,Japan,JP,JPN,Tōkyō,primary,37977000.0,1392685764
1,Jakarta,Jakarta,-6.2146,106.8451,Indonesia,ID,IDN,Jakarta,primary,34540000.0,1360771077
2,Delhi,Delhi,28.6600,77.2300,India,IN,IND,Delhi,admin,29617000.0,1356872604
3,Mumbai,Mumbai,18.9667,72.8333,India,IN,IND,Mahārāshtra,admin,23355000.0,1356226629
4,Manila,Manila,14.5958,120.9772,Philippines,PH,PHL,Manila,primary,23088000.0,1608618140